<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canchas - Punto de Oro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/canchas.css}" type="text/css">
    <script th:src="@{/js/cancha.js}" defer></script>
</head>

<body>
    <header>
        <nav class="header-container">
            <ul class="left-content">
                <li class="header-logo">
                    <a th:href="@{/index}">
                        <label class="title">Punto de oro</label>
                        <img class="imghead" th:src="@{/images/PelotaPadel.png}" alt="PelotaPadel">
                    </a>
                </li>
            </ul>
            <ul class="right-content">


                <div class="navbar">
                    <div class="red-index">
                        <a th:href="@{/index}">Inicio</a>
                    </div>
                    <div class="red-calendario">
                        <a th:href="@{/calendario}">Calendario</a>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            <i class="fa-solid fa-gear"></i>
                        </button>
                        <div class="dropdown-content">
                            <a th:href="@{/miCuenta}">Mi Cuenta</a>
                            <a th:href="@{/ranking}">Ranking</a>
                            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/usuario}">Usuarios</a>
                            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/canchas}">Canchas</a>
                            <a th:href="@{/jugador}">Jugador</a>
                            <a th:href="@{/torneos}">Torneos</a>
                            <a th:href="@{/logout}" method="post" type="submit">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </ul>

        </nav>
    </header>

    <main>
        <h2 class="titulo-cancha"><a >CANCHAS</a></h2>
        <div class="background-container">
            <div class="botones">
                <input type="button" class="btn-agregar" onclick="abrirFormularioAgregar()" value="Agrega Cancha"></input>
            </div>
            

            

            <div class="container">
                <div th:each="cancha : ${canchas}" class="cancha" 
                    th:onclick="|toggleForm('form-' + ${cancha.id})|">
                    <div class="disponibilidad">
                        <img th:src="@{/images/cancha.png}" class="cancha-img">
                    </div>
                    <div class="turnos">
                        <span th:text="'Cancha ' + ${cancha.id}" th:classappend="${cancha.disponibilidad ? 'text-success' : 'text-danger'}"></span>
                    </div>
                    <div th:id="'form-' + ${cancha.id}" class="turnos-form" style="display: none;">
                        <div>
                            <label>Horario de Apertura:</label>
                            <span th:text="${cancha.horarioApertura}"></span>
                        </div>
                        <div>
                            <label>Horario de Cierre:</label>
                            <span th:text="${cancha.horarioCierre}"></span>
                        </div>
                        <div>
                            <label>Disponibilidad:</label>
                            <span th:text="${cancha.disponibilidad ? 'Sí' : 'No'}" 
                                  th:classappend="${cancha.disponibilidad ? 'text-success' : 'text-danger'}"></span>
                        </div>
                        
                        <div>
                            <label>Duración:</label>
                            <span th:text="${cancha.duracion}"></span>
                        </div>

                        <div>
                            <label>Estado:</label>
                            <span th:text="${cancha.estado}"></span>
                        </div>
                    </div>
                    <button type="button" 
                                    th:onclick="editarCancha('[[${cancha.id}]]')" 
                                    data-horario-apertura="[[${cancha.horarioApertura}]]"
                                    data-horario-cierre="[[${cancha.horarioCierre}]]"
                                    data-disponibilidad="[[${cancha.disponibilidad}]]"
                                    data-duracion="[[${cancha.duracion}]]"
                                    data-estado="[[${cancha.estado}]]" class="btn-editar">
                                Editar
                    </button>
                    <form class="container-btn-eliminar" th:action="@{/canchas/eliminar/{id}(id=${cancha.id})}" method="post" style="display:inline;">
                        <button class="btn-eliminar" type="submit">Eliminar</button>
                    </form>
                </div>
                <!-- Formulario de edición, inicialmente oculto -->
                <div class="form-overlay" id="formularioAgregar" style="display: none;">
                    <div class="form">
                        <div class="cruz" onclick="cerrarFormularioAgregar()">
                            <i class="fa-solid fa-x"></i>
                        </div>
                        <form class="form-agregar" th:action="@{/canchas/agregar}" method="post" th:object="${cancha}">
                            <div class="username">
                                <input type="time" id="horarioApertura" th:field="*{horarioApertura}" required />
                                <label>Horario Apertura</label>
                            </div>
                            <div class="username">
                                <input type="time" id="horarioCierre" th:field="*{horarioCierre}" required />
                                <label>Horario Cierre</label>
                            </div>
                            <div class="username">
                                <input type="checkbox" id="disponibilidad" th:field="*{disponibilidad}" required />
                                <label>disponibilidad</label>
                            </div>
                            <div class="username">
                                <input type="time" id="duracion" th:field="*{duracion}" required />
                                <label>Duracion</label>
                            </div>
                            <div class="username">
                                <select id="estadoCancha" th:field="*{estado}">
                                    <option th:each="estado : ${T(com.Unsada.Web.model.enums.EstadoCancha).values()}" 
                                            th:value="${estado}" 
                                            th:text="${estado}">
                                    </option>
                                </select>
                                <label>Estado</label>
                            </div>
                            <input type="submit" value="Guardar cambios"/>
                        </form>
                    </div>
                </div>
                <div class="form-overlay" id="formularioEditar" style="display: none;">
                    <div class="form">
                        <div class="cruz" onclick="cerrarFormulario()">
                            <i class="fa-solid fa-x"></i>
                        </div>
                        <div class="tituloCancha">
                            <span id="tituloCancha"></span>
                        </div>
                        <form class="form-actualizar" id="formActualizarCancha" th:action="@{/canchas/actualizar}" method="post" th:object="${cancha}">
                            <!-- ID (Long) -->
                            <div class="username">
                                <input type="number" id="canchaIdEditar" th:field="*{id}" readonly required>
                                <label for="id">Cancha</label>
                            </div>
                        
                            <!-- Horario de apertura (Time) -->
                            <div class="username">
                                <input type="time" id="horarioAperturaEditar" th:field="*{horarioApertura}" required>
                                <label for="horarioApertura">Horario de apertura</label>
                            </div>
                        
                            <!-- Horario de cierre (Time) -->
                            <div class="username">
                                <input type="time" id="horarioCierreEditar" th:field="*{horarioCierre}" required>
                                <label for="horarioCierre">Horario de cierre</label>
                            </div>
                        
                            <!-- Disponibilidad (boolean) -->
                            <div class="username">
                                <input type="checkbox" id="disponibilidadEditar" th:field="*{disponibilidad}">
                                <label for="disponibilidad">Disponibilidad</label>
                            </div>
                        
                            <!-- Duración (Time) -->
                            <div class="username">
                                <input type="time" id="duracionEditar" th:field="*{duracion}" required>
                                <label for="duracion">Duración</label>
                            </div>

                            <!-- Estado -->
                            <div class="username">
                                <select id="estadoEditar" th:field="*{estado}" required>
                                    <option th:each="estado : ${T(com.Unsada.Web.model.enums.EstadoCancha).values()}"
                                        th:value="${estado.name()}" 
                                        th:text="${estado.name()}">
                                    </option>
                                </select>
                                <label>Estado</label>
                            </div>
                        
                            <!-- Botón para guardar -->
                            <input type="submit" value="Guardar cambios"/>
                        </form>
                        
                    </div>
                </div>
                <div th:if="${#lists.isEmpty(canchas)}">
                    <p>No hay canchas disponibles.</p>
                </div>
            </div>
        </div>
    </main>

    <footer class="site-footer">
        <div class="footer-logo" translate="no">Punto de Oro Bragado</div>
        <div class="footer-links">
            <ul>
                <a href="#" onclick=""></a>
                <a href="#" onclick=""></a>
                <a href="#" onclick=""></a>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#" class="social-link"><img class="social-link-facebook" src="/images/facebook.png"></a>
            <a href="#" class="social-link"><img class="social-link-twitter" src="/images/twitter.png"></a>
            <a href="#" target="_blank" class="social-link"><img class="social-link-instgram"
                    src="/images/instagram.png"></a>
        </div>
        <p id="Copyright">Derechos de autor &copy; 2024 Punto de Oro</p>
    </footer>
</body>

</html>