<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canchas - Punto de Oro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/canchas.css}" type="text/css">
    <script th:src="@{/js/cancha.js}" defer></script>
</head>

<body>
    <header>
        <nav class="header-container">
            <ul class="left-content">
                <li class="header-logo">
                    <a th:href="@{/index}">
                        <label class="title">Punto de oro</label>
                        <img class="imghead" th:src="@{/images/PelotaPadel.png}" alt="PelotaPadel">
                    </a>
                </li>
            </ul>
            <ul class="right-content">
                <li sec:authorize="isAuthenticated()">

                </li>

                <div class="navbar">
                    <div class="red-index">
                        <a th:href="@{/index}">Inicio</a>
                    </div>
                    <div class="red-calendario">
                        <a th:href="@{/calendario}">Calendario</a>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            <i class="fa-solid fa-gear"></i>
                        </button>
                        <div class="dropdown-content">
                            <a th:href="@{/miCuenta}">Mi Cuenta</a>
                            <a th:href="@{/ranking}">Ranking</a>
                            <a th:href="@{/usuario}">Usuarios</a>
                            <a th:href="@{/canchas}">Canchas</a>
                            <a th:href="@{/jugador}">Jugador</a>
                            <a th:href="@{/torneos}">Torneos</a>
                            <a th:href="@{/logout}" method="post" type="submit">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </ul>

        </nav>
    </header>

    <main>
        <div class="background-container">
            <div class="container">
                <div class="cancha" onclick="toggleForm('form-1')">
                    <div class="disponibilidad">
                        <img th:src="@{/images/cancha.png}" class="cancha-img">
                    </div>
                    <div class="turnos">
                        Cancha 1
                    </div>
                    <div id="form-1" class="turnos-form" style="display: none;">
                        <form method="post">
                            <label for="fecha1">Seleccionar día:</label>
                            <input type="date" id="fecha1" name="fecha1" required>
                            
                            <label for="hora1">Seleccionar hora:</label>
                            <input type="time" id="hora1" name="hora1" required>
                            
                            <button type="submit">Agregar Turno</button>
                        </form>
                    </div>
                </div>
    
                <div class="cancha" onclick="toggleForm('form-2')">
                    <div class="disponibilidad">
                        <img th:src="@{/images/cancha.png}" class="cancha-img">
                    </div>
                    <div class="turnos">
                        Cancha 2
                    </div>
                    <div id="form-2" class="turnos-form" style="display: none;">
                        <form method="post">
                            <label for="fecha2">Seleccionar día:</label>
                            <input type="date" id="fecha2" name="fecha2" required>
                            
                            <label for="hora2">Seleccionar hora:</label>
                            <input type="time" id="hora2" name="hora2" required>
                            
                            <button type="submit">Agregar Turno</button>
                        </form>
                    </div>
                </div>

                <div class="cancha" onclick="toggleForm('form-3')">
                    <div class="disponibilidad">
                        <img th:src="@{/images/cancha.png}" class="cancha-img">
                    </div>
                    <div class="turnos">
                        Cancha 3
                    </div>
                    <div id="form-3" class="turnos-form" style="display: none;">
                        <form method="post">
                            <label for="fecha3">Seleccionar día:</label>
                            <input type="date" id="fecha3" name="fecha3" required>
                            
                            <label for="hora3">Seleccionar hora:</label>
                            <input type="time" id="hora3" name="hora3" required>
                            
                            <button type="submit">Agregar Turno</button>
                        </form>
                    </div>
                </div>

                <div class="cancha" onclick="toggleForm('form-4')">
                    <div class="disponibilidad">
                        <img th:src="@{/images/cancha.png}" class="cancha-img">
                    </div>
                    <div class="turnos">
                        Cancha 4
                    </div>
                    <div id="form-4" class="turnos-form" style="display: none;">
                        <form method="post">
                            <label for="fecha4">Seleccionar día:</label>
                            <input type="date" id="fecha4" name="fecha4" required>
                            
                            <label for="hora4">Seleccionar hora:</label>
                            <input type="time" id="hora4" name="hora4" required>
                            
                            <button type="submit">Agregar Turno</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="site-footer">
        <div class="footer-logo" translate="no">Punto de Oro Bragado</div>
        <div class="footer-links">
            <ul>
                <a href="#" onclick=""></a>
                <a href="#" onclick=""></a>
                <a href="#" onclick=""></a>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#" class="social-link"><img class="social-link-facebook" src="/images/facebook.png"></a>
            <a href="#" class="social-link"><img class="social-link-twitter" src="/images/twitter.png"></a>
            <a href="#" target="_blank" class="social-link"><img class="social-link-instgram"
                    src="/images/instagram.png"></a>
        </div>
        <p id="Copyright">Derechos de autor &copy; 2024 Punto de Oro</p>
    </footer>
</body>

</html>