<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto de Oro Bragado</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/PuntoOro/src/main/resources/static/css/index.css">
    <script src="/PuntoOro/src/main/resources/static/js/init.js" defer></script>
</head>


<body>
    <header>
        <nav>

        </nav>
        <h1>Hola</h1>
    </header>
    
    
    <main>

    </main>
    
    <footer>

    </footer>

</body>

</html>