<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto de Oro Bragado</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="/js/init.js" defer></script>
</head>


<body>
    <header>
        <nav class="header-container">
            <ul class="left-content">
                <li>
                    <label class="title">Punto de Oro Bragado</label>
                    <img class="imghead" src="/images/PelotaPadel.png" alt="PelotaPadel">
                </li>
                
            </ul>
            <ul class="right-content">
                <li>
                    <button class="btn-sesion-ini" name="btn-Sesion" type="button">Iniciar Sesión</button>
                </div>
            </li>
            </ul>
        </nav>

    </header>
    
    
    <main>
            Holaaaaa
    </main>
    
    <footer class="site-footer">
            <div class="footer-logo" translate="no">Punto de Oro</div>
            <div class="footer-links">
              <ul>
                  <a href="#" onclick="redireccionIndex()"></a>
                  <a href="#" onclick="redireccionJuego()"></a>
                  <a href="#" onclick="redireccionPAlabra()"></a>
              </ul>
            </div>
            <div class="footer-social">
              <a href="#" class="social-link"><img class="social-link-facebook"  src="/images/facebook.png"></a>
              <a href="#" class="social-link"><img class="social-link-twitter"  src="/images/twitter.png"></a>
              <a href="#" target="_blank" class="social-link"><img class="social-link-instgram"  src="/images/instagram.png"></a>
            </div>
            <p>Derechos de autor &copy; 2023 Punto de Oro</p>
    </footer>

</body>

</html>