<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto de Oro Bragado</title>
    <link rel="stylesheet" href="css/index.css">
</head>


<body>
    <header>
        <div class="header-container">
            <div class="left-content">
                <label for="title">Punto de Oro Bragado</label>
                <img class="imghead" src="images/PelotaPadel.png" alt="PelotaPadel">
            </div>
            <div class="right-content">
                <button class="btn-sesion-ini" name="btn-Sesion" type="button">Iniciar Sesión</button>
            </div>
        </div>
    </header>
    
    <nav>

    </nav>

    
    <main>

    </main>
    
    <footer>

    </footer>

</body>

</html>