<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugadores - Punto de Oro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/jugador.css">
    <link rel="stylesheet" href="/css/jugador.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="/js/jugador.js" defer></script>

</head>

<body>
    <header>
        <nav class="header-container">
            <ul class="left-content">
                <li class="header-logo">
                    <a th:href="@{/index}">
                        <label class="title">Punto de oro</label>
                        <img class="imghead" th:src="@{/images/PelotaPadel.png}" alt="PelotaPadel">    
                    </a>
                </li>
            </ul>
            <ul class="right-content">
                <li sec:authorize="isAuthenticated()">

                </li>

                <div class="navbar">
                    <div class="red-index">
                        <a th:href="@{/index}">Inicio</a>
                    </div>
                    <div class="red-calendario">
                        <a th:href="@{/calendario}">Calendario</a>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            <i class="fa-solid fa-gear"></i>
                        </button>
                        <div class="dropdown-content">
                            <a th:href="@{/miCuenta}">Mi Cuenta</a>
                            <a th:href="@{/ranking}">Ranking</a>
                            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/usuario}">Usuarios</a>
                            <a th:href="@{/canchas}">Canchas</a>
                            <a th:href="@{/jugador}">Jugador</a>
                            <a th:href="@{/torneos}">Torneos</a>
                            <a th:href="@{/logout}" method="post" type="submit">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </ul>
        </nav>
    </header>

    

    <main>
        
        <div class="background-img-home" >
            <h1><a >Registrar jugador</a></h1>
            <div class="texto">
                
                <div class="jugador-info">
                    
                    <form th:action="@{/jugador/guardar}" method="post" th:object="${jugador}">
                        <div class="username">
                            <input type="text" name="nombreCompleto" autocomplete="off" th:field="*{nombreCompleto}" required auto-focus="auto-focus">
                            <label for="nombreCompleto">Nombre completo</label>
                        </div>
                        <div class="username">
                            <input class="telefono-input" type="tel" name="telefono" autocomplete="off" th:field="*{telefono}" required value="">
                            <label for="telefono">Teléfono</label>
                        </div>
                        <div class="username">
                            <input class="telefono-input" type="number" name="categoria" autocomplete="off" th:field="*{categoria}" required value="">
                            <label for="categoria">Categoría</label>
                        </div>
                        <div class="username" style="margin-bottom: 10px;">
                            <input type="date" id="fechaDeNacimiento" name="fechaDeNacimiento" autocomplete="off" th:field="*{fechaDeNacimiento}" required>
                            <label for="fechaDeNacimiento">Fecha de nacimiento</label>
                        </div>
                        <div class="username" style="margin-bottom: 10px;">
                            <input type="text" id="dni" name="dni" autocomplete="off" th:field="*{dni}" required>
                            <label for="dni">DNI</label>
                        </div>
                        <div class="username" style="margin-bottom: 10px;">
                            <input type="number" id="calificacion" name="calificacion" autocomplete="off" th:field="*{calificacion}" required>
                            <label for="calificacion">Calificacion</label>
                        </div>
                        <div class="username" style="margin-bottom: 10px;">
                            <input type="number" id="puntos" name="puntos" autocomplete="off" th:field="*{puntos}" required >
                            <label for="puntos">Puntos</label>
                        </div>
                        <div class="username" style="margin-bottom: 10px;">
                            <input type="text" name="comentario" autocomplete="off" th:field="*{comentario}" required>
                            <label for="comentario">Comentario</label>
                        </div>
                        <!-- Mensajes de éxito o error -->
                        <div class="mensaje success" th:if="${param.exito}" style="margin-bottom: 3px;">
                          <span>Registro exitoso.</span>
                        </div>
                        <div class="mensaje error" th:if="${param.error}">
                            <span>Ocurrió un error al registrar el jugador. Inténtalo de nuevo.</span>
                        </div>
                        <input id="btn-registrar" type="submit" value="Registrar">
                    </form>
                </div>
                <div class="lista-jugadores">
                    <h2>Jugadores Registrados</h2>
                    <div class="tabla-contenedor">
                        <div class="selector-container">
                            <!-- Campo de Selección para Elegir el Atributo de Búsqueda -->
                            <label for="atributo">Buscar por:</label>
                            <select id="atributo">
                                <option value="0">Nombre</option>
                                <option value="1">Teléfono</option>
                                <option value="2">Categoría</option>
                                <option value="3">Fecha de Nacimiento</option>
                                <option value="4">DNI</option>
                                <option value="5">Calificación</option>
                                <option value="6">Puntos</option>
                                <option value="7">Comentario</option>
                            </select>
                        </div>
                        

                        <!-- Campo de Búsqueda para Filtrar -->
                        <input class="buscar-input" type="text" id="filtro" onkeyup="filtrarTabla()" placeholder="Escribe para buscar...">

                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Teléfono</th>
                                    <th>Categoria</th>
                                    <th>Fecha de Nacimiento</th>
                                    <th>DNI</th>
                                    <th>Calificación</th>
                                    <th>Puntos</th>
                                    <th>Comentario</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr-jugador" th:each="jugador : ${jugadores}">
                                    <td th:text="${jugador.nombreCompleto}">
                                        <span th:text="${jugador.nombreCompleto}"></span>
                                    </td>
                                    
                                    <td th:text="${jugador.telefono}">
                                        <span th:text="${jugador.telefono}"></span>
                                    </td>
                                    <td th:text="${jugador.categoria != null ? jugador.categoria : 'Sin categoría'}">
                                        <span th:text="${jugador.categoria}"></span>
                                    </td>
                                    <td th:text="${jugador.fechaDeNacimiento != null ? jugador.fechaDeNacimiento.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy')) : ''}" style="cursor: pointer;">
                                        <span th:text="${jugador.fechaDeNacimiento}"></span>
                                    </td>
                                    <td th:text="${jugador.dni}">
                                        <span th:text="${jugador.dni}"></span>
                                    </td>
                                    <td th:text="${jugador.calificacion}">
                                        <span th:text="${jugador.calificacion}"></span>
                                    </td>
                                    <td th:text="${jugador.puntos}">
                                        <span th:text="${jugador.puntos}"></span>
                                    </td>
                                    <td th:text="${jugador.comentario}">
                                        <span th:text="${jugador.comentario}"></span>
                                    </td>
                                     <!-- Botón Editar en una celda separada -->
                                     <td>
                                        <button type="button" 
                                                th:onclick="editarJugador('[[${jugador.dni}]]')" 
                                                data-nombre-completo="[[${jugador.nombreCompleto}]]"
                                                data-telefono="[[${jugador.telefono}]]"
                                                data-categoria="[[${jugador.categoria != null ? jugador.categoria : 'Sin categoría'}]]"
                                                data-fecha-nacimiento="[[${jugador.fechaDeNacimiento != null ? jugador.fechaDeNacimiento.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy')) : ''}]]"
                                                data-calificacion="[[${jugador.calificacion}]]"
                                                data-puntos="[[${jugador.puntos}]]"
                                                data-comentario="[[${jugador.comentario}]]"  class="btn-editar">
                                            Editar
                                        </button>
                                    </td>
                                    
                                    <!-- Botón Eliminar -->
                                    <td>
                                        <form th:action="@{/jugador/borrar/{dni}(dni=${jugador.dni})}" method="post" style="display:inline;">
                                            <button class="btn-eliminar" type="submit">Eliminar</button>
                                        </form>
                                    </td>
                                </tr>                        
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Formulario de edición, inicialmente oculto -->
                <div class="form-overlay" id="formularioEditar" style="display: none;">
                    <div class="form">
                        <div class="cruz" onclick="cerrarFormulario()">
                            <i class="fa-solid fa-x"></i>
                        </div>
                        <form class="form-actualizar" th:action="@{/jugador/actualizar}" method="post" th:object="${jugador}">
                            <div class="username">
                                <input type="text" id="nombreCompletoEditar" th:field="*{nombreCompleto}" required />
                                <label>Nombre completo</label>
                            </div>
                            <div class="username">
                                <input type="text" id="telefonoEditar" th:field="*{telefono}" required />
                                <label>Teléfono</label>
                            </div>
                            <div class="username">
                                <input type="text" id="categoriaEditar" th:field="*{categoria}" required />
                                <label>Categoría</label>
                            </div>
                            <div class="username">
                                <input type="date" id="fechaEditar" th:field="*{fechaDeNacimiento}" required />
                                <label>Fecha de nacimiento</label>
                            </div>
                            <div class="username">
                                <input type="text" id="dniEditar" th:field="*{dni}" required />
                                <label>DNI</label>
                            </div>
                            <div class="username">
                                <input type="text" id="calificacionEditar" th:field="*{calificacion}" required />
                                <label>Calificación</label>
                            </div>
                            <div class="username">
                                <input type="text" id="puntosEditar" th:field="*{puntos}" required />
                                <label>Puntos</label>
                            </div>
                            <div class="username">
                                <input type="text" id="comentarioEditar" th:field="*{comentario}" required />
                                <label>Comentario</label>
                            </div>
                            <input type="submit" value="Guardar cambios"/>
                        </form>
                    </div>
                </div>
                
            </div>
            
        </div>
    </main>

    <footer class="site-footer">
        <div class="footer-logo" translate="no">Punto de Oro Bragado</div>
        <div class="footer-links">
            <ul>
                <a href="#" onclick=""></a>
                <a href="#" onclick=""></a>
                <a href="#" onclick=""></a>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#" class="social-link"><img class="social-link-facebook" src="/images/facebook.png"></a>
            <a href="#" class="social-link"><img class="social-link-twitter" src="/images/twitter.png"></a>
            <a href="#" target="_blank" class="social-link"><img class="social-link-instgram" src="/images/instagram.png"></a>
        </div>
        <p id="Copyright">Derechos de autor &copy; 2024 Punto de Oro</p>
    </footer>
</body>
</html>
