<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/js/login.js"></script>
    <title>Juego del Ahorcado</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/3096f5aa9c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a class="logo" onclick="redireccionIndex()">Juego del Ahorcado</a></li>
        </ul>
      </nav>
      <h1 class="title-sesion" translate="no" ></h1>
    </header>
      

    <main>
        <div class="formulario-register" method="post" action="/registro/nuevo">
            <h1>Registrarse</h1>
            <form method="post" action="/registro/nuevo">
              <div>Registro exitoso.</div>
              <div class="iniciar">
                  Quiero <a onclick="redireccionLogin()">iniciar sesión</a>.
              </div>
          </form>
          </div>
    </main>  