<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <title>Juego del Ahorcado</title>
        <link rel="stylesheet" type="text/css" href="/css/logincss">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="/js/login.js" defer></script>
    </head>

    <body>
        <header>
            <nav>
              <ul>
                <li><a onclick="redireccionInicioExistoso()">Inicio</a></li>
                <li><a href="#">Sobre el juego</a></li>
                <li><a onclick="">Palabras</a></li>
                <li><a onclick="">Jugar</a></li>
              </ul>
              <ul>
                <li><i id="Iniciar-sesion-icon"></i><a onclick="redireccionSesion()">Cerrar sesión</a></li>
              </ul>
            </nav>
            <h1 class="titulo" onclick="redireccionInicioExistoso()">Juego del Ahorcado</h1>
            <h2 class="subtitulo">Disfruta del juego</h2>
        </header>
        
        <main>
            <div class="contenedor">
                <section id="sobre-el-juego" class="about">
                    <div class="about-text">
                        <h2>Sobre el juego</h2>
                        <p class="texto">El ahorcado es un juego de palabras en el que un jugador intenta adivinar una palabra oculta, con un número limitado de intentos, mientras se representa gráficamente la progresión de los fallos. El objetivo es adivinar la palabra antes de que se complete el dibujo de un ahorcado.</p>

                          <h2 style="margin-bottom: 20px; margin-top: 50px;">Objetivos del juego</h2>
                          <p>El objetivo del juego es adivinar la palabra oculta antes de que se complete el dibujo del ahorcado. Cada error acerca el dibujo del ahorcado a su finalización.</p>
                          <h2 style="margin-bottom: 20px; margin-top: 50px;">Reglas del Juego</h2>
                            <h4>1. Preparación</h4>
                            <div style="margin-bottom: 20px;">
                              <p>El jugador elige una palabra secreta y dibuja una serie de guiones en una línea, cada guión representa una letra de la palabra secreta.</p>
                              <h4>2. Aciertos y Errores</h4>
                            </div>
                              <div style="margin-bottom: 20px;">
                                <li type="circle"style="margin-bottom: 10px; margin-left: 20px;">Si la letra adivinada está en la palabra secreta, el maestro del juego escribe la letra en los guiones correspondientes.</li>
                                <li type="circle" style=" margin-left: 20px;">Si la letra no está en la palabra, se añade una parte al dibujo del ahorcado y se registra la letra como incorrecta.</li>
                              </div>
                            <h4>3. Condiciones de Victoria y Derrota</h4>
                            <div style="margin-bottom: 20px;">
                              <li type="circle" style="margin-bottom: 10px; margin-left: 20px;">El jugador gana si adivina todas las letras de la palabra antes de que el dibujo del ahorcado se complete.</li>
                              <li type="circle"  style=" margin-left: 20px;">El jugador pierde si el dibujo del ahorcado se completa antes de adivinar toda la palabra.</li>
                            </div>
                            

                      </div>
                    </section>
            </div>
        </main>

        <footer class="site-footer">
            <div class="footer-logo" translate="no">Juego del Ahorcado</div>
            <div class="footer-links">
              <ul>
                  <a href="#" onclick="redireccionInicioExistoso()">Inicio</a>
                  <a href="#" onclick="redireccionJuego()">Juego</a>
                  <a href="#" onclick="redireccionPAlabra()">Palabras</a>
              </ul>
                
            </div>
            <div class="footer-social">
              <a href="#" class="social-link"><img class="social-link-facebook"  src="/images/facebook.png"></a>
              <a href="#" class="social-link"><img class="social-link-twitter"  src="/images/twitter.png"></a>
              <a href="#" target="_blank" class="social-link"><img class="social-link-instgram"  src="/images/instagram.png"></a>
            </div>
            <p>Derechos de autor &copy; 2023 Juego del Ahorcado</p>
          </footer>

    </body>


</html>