<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios - Punto de Oro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/usuario.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="/js/usuario.js" defer></script>

</head>

<body>
    <header>
        <nav class="header-container">
            <ul class="left-content">
                <li class="header-logo">
                    <a th:href="@{/index}">
                        <label class="title">Punto de oro</label>
                        <img class="imghead" th:src="@{/images/PelotaPadel.png}" alt="PelotaPadel">    
                    </a>
                </li>
            </ul>
            <ul class="right-content">
                <li sec:authorize="isAuthenticated()">

                </li>

                <div class="navbar">
                    <div class="red-index">
                        <a th:href="@{/index}">Inicio</a>
                    </div>
                    <div class="red-calendario">
                        <a th:href="@{/calendario}">Calendario</a>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            <i class="fa-solid fa-gear"></i>
                        </button>
                        <div class="dropdown-content">
                            <a th:href="@{/miCuenta}">Mi Cuenta</a>
                            <a th:href="@{/ranking}">Ranking</a>
                            <a th:href="@{/usuario}">Usuarios</a>
                            <a th:href="@{/canchas}">Canchas</a>
                            <a th:href="@{/jugador}">Jugador</a>
                            <a th:href="@{/torneos}">Torneos</a>
                            <a th:href="@{/logout}" method="post" type="submit">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </ul>
        </nav>
    </header>

    

    <main>
        <div class="background-img-home" >
            <div class="texto">
                <div class="usuario-info">
                    <h2>Registrar Usuario</h2>
                    <form th:action="@{/usuario/guardar}" method="post" th:object="${usuario}">
                        <div class="username">
                            <input type="text" name="nombreCompleto" autocomplete="off" th:field="*{nombreCompleto}" required auto-focus="auto-focus">
                            <label for="nombreCompleto">Nombre completo</label>
                        </div>
                        <div class="username">
                            <input type="email" name="categoria" autocomplete="off" th:field="*{email}" required value="">
                            <label for="email">Email</label>
                        </div>
                        <div class="username">
                            <input  type="tel" name="telefono" autocomplete="off" th:field="*{telefono}" required value="">
                            <label for="telefono">Telefono</label>
                        </div>
                        <div class="username" style="margin-bottom: 10px;">
                            <input type="password" id="contrasena" name="contrasena" autocomplete="off" th:field="*{contrasena}" required>
                            <label for="contrasena">Contraseña</label>
                        </div>
                        <div class="username" style="margin-bottom: 10px;">
                            <input type="text" id="estado" name="estado" autocomplete="off" th:field="*{estado}" required>
                            <label for="estado">Estado</label>
                        </div>
                        <div class="username" style="margin-bottom: 10px;">
                            <input type="text" id="role" name="role" autocomplete="off" th:field="*{role}" required>
                            <label for="role">Role</label>
                        </div>

                        <!-- Mensajes de éxito o error -->
                        <div class="mensaje success" th:if="${param.exito}" style="margin-bottom: 3px;">
                          <span>Registro exitoso.</span>
                        </div>
                        <div class="mensaje error" th:if="${param.error}">
                            <span>Ocurrió un error al registrar el jugador. Inténtalo de nuevo.</span>
                        </div>
                        <input id="btn-registrar" type="submit" value="Registrar">
                    </form>
                </div>
                <div class="lista-usuarios">
                    <h2>Usuarios Registrados</h2>
                    <div class="tabla-contenedor">
                        <div class="selector-container">
                            <!-- Campo de Selección para Elegir el Atributo de Búsqueda -->
                            <label for="atributo">Buscar por:</label>
                            <select id="atributo">
                                <option value="0">Nombre Completo</option>
                                <option value="1">Email</option>
                                <option value="2">Contraseña</option>
                                <option value="3">Estado</option>
                                <option value="4">Role</option>
                            </select>
                        </div>
                        

                        <!-- Campo de Búsqueda para Filtrar -->
                        <input class="buscar-input" type="text" id="filtro" onkeyup="filtrarTabla()" placeholder="Escribe para buscar...">

                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre Completo</th>
                                    <th>Email</th>
                                    <th>Contraseña</th>
                                    <th>Estado</th>
                                    <th>Role</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr-usuario" th:each="usuario : ${usuarios}">
                                    <td th:text="${usuario.nombreCompleto}">
                                        <span th:text="${usuario.nombreCompleto}"></span>
                                    </td>
                                    
                                    <td th:text="${usuario.email}">
                                        <span th:text="${usuario.telefono}"></span>
                                    </td>
                                    <td th:text="${usuario.contrasena}">
                                        <span th:text="${usuario.contrasena}"></span>
                                    </td>

                                    <td th:text="${usuario.estado}">
                                        <span th:text="${usuario.estado}"></span>
                                    </td>
                                    <td th:text="${usuario.role}">
                                        <span th:text="${usuario.role}"></span>
                                    </td>
                                     <!-- Botón Editar en una celda separada -->
                                     <td>
                                        <button type="button" 
                                                th:onclick="editarJugador('[[${usuario.email}]]')" 
                                                data-nombre-completo="[[${usuario.nombreCompleto}]]"
                                                data-email="[[${usuario.email}]]"
                                                data-contrasena="[[${usuario.contrasena}]]"
                                                data-estado="[[${usuario.estado}]]"
                                                data-role="[[${usuario.role}]]" class="btn-editar">
                                            Editar
                                        </button>
                                    </td>
                                    
                                    <!-- Botón Eliminar -->
                                    <td>
                                        <form th:action="@{/usuario/borrar/{email}(email=${usuario.email})}" method="post" style="display:inline;">
                                            <button class="btn-eliminar" type="submit">Eliminar</button>
                                        </form>
                                    </td>
                                </tr>                        
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Formulario de edición, inicialmente oculto -->
                <div class="form-overlay" id="formularioEditar" style="display: none;">
                    <div class="form">
                        <div class="cruz" onclick="cerrarFormulario()">
                            <i class="fa-solid fa-x"></i>
                        </div>
                        <form class="form-actualizar" th:action="@{/usuario/actualizar}" method="post" th:object="${usuario}">
                            <div class="username">
                                <input type="text" id="nombreCompletoEditar" th:field="*{nombreCompleto}" required />
                                <label>Nombre completo</label>
                            </div>
                            <div class="username">
                                <input type="text" id="emailEditar" th:field="*{email}" required />
                                <label>Email</label>
                            </div>
                            <div class="username">
                                <input type="text" id="telefonoEditar" th:field="*{telefono}" required />
                                <label>Telefono</label>
                            </div>
                            <div class="username">
                                <input type="text" id="contrasenaEditar" th:field="*{contrasena}" required />
                                <label>Contrasena</label>
                            </div>
                            <div class="username">
                                <input type="text" id="estadoEditar" th:field="*{estado}" required />
                                <label>Estado</label>
                            </div>
                            <div class="username">
                                <input type="text" id="roleEditar" th:field="*{role}" required />
                                <label>Role</label>
                            </div>
                            <input type="submit" value="Guardar cambios"/>
                        </form>
                    </div>
                </div>
                
            </div>
            
        </div>
    </main>

    <footer class="site-footer">
        <div class="footer-logo" translate="no">Punto de Oro Bragado</div>
        <div class="footer-links">
            <ul>
                <a href="#" onclick=""></a>
                <a href="#" onclick=""></a>
                <a href="#" onclick=""></a>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#" class="social-link"><img class="social-link-facebook" src="/images/facebook.png"></a>
            <a href="#" class="social-link"><img class="social-link-twitter" src="/images/twitter.png"></a>
            <a href="#" target="_blank" class="social-link"><img class="social-link-instgram" src="/images/instagram.png"></a>
        </div>
        <p id="Copyright">Derechos de autor &copy; 2024 Punto de Oro</p>
    </footer>
</body>
</html>
