header {
    background-color: black;
    color: burlywood;
    display: flex;
    justify-content: center;  
}

nav{
    background-color: black;
    color: burlywood;
    display: flex;
    justify-content: space-around;
    border-top-style: dotted;
    border-top-color: burlywood;
}

main{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: burlywood;
}

.ciudad{
    border-style: solid;
    border-color: burlywood;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.imagen{
    margin-right: 5px;    
}

.titulo{
    margin-left: 5px;
    color: burlywood;
    margin-top:20px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: burlywood;
}

body{
    margin: 0;
}