<<<<<<< HEAD

header {
    display: flex;                /* Usamos flexbox para el contenedor */
    flex-direction: column;       
    justify-content: space-around; /* Espacio entre los elementos */
    align-items: center;         /* Alineamos verticalmente en el centro */
    padding: 20px;               /* Espacio interno opcional */
    background-color: #F5F5F5;   /* Color de fondo opcional */
    width: 100%;
}

.header-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;

}
.left-content {
    display: flex;                  /* Usamos flexbox para el contenido a la izquierda */
    align-items: center;           /* Alineamos verticalmente en el centro */
    width: 21%;
    margin-right: 30%;
}

.right-content {
    display: flex;                  /* Usamos flexbox para el contenido a la derecha */
    align-items: center; 
    width: 40%
}

.btn-sesion-ini {
    margin-left: auto;             /* Empuja el botón hacia la derecha */
    background-color: #030303;
    color: white;
    border-radius: 5px; 
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
img.imghead {
    width: 20px;
    height: 20px;
=======
header {
    background-color: black;
    color: burlywood;
    display: flex;
    justify-content: center;  
}

nav{
    background-color: black;
    color: burlywood;
    display: flex;
    justify-content: space-around;
    border-top-style: dotted;
    border-top-color: burlywood;
}

main{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: burlywood;
}

.ciudad{
    border-style: solid;
    border-color: burlywood;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.imagen{
    margin-right: 5px;    
}

.titulo{
    margin-left: 5px;
    color: burlywood;
    margin-top:20px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: burlywood;
}

body{
    margin: 0;
>>>>>>> 71cb9f8 (estructura proyecto 1)
}