header {
    display: flex;                /* Usamos flexbox para el contenedor */
    flex-direction: column;       
    justify-content: space-around; /* Espacio entre los elementos */
    align-items: center;         /* Alineamos verticalmente en el centro */
    padding: 20px;               /* Espacio interno opcional */
    background-color: rgb(153, 153, 153);   /* Color de fondo opcional */
    width: 100%;
}

.header-container{
    color: #030303;
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;

}
.left-content {
    display: flex;                  /* Usamos flexbox para el contenido a la izquierda */
    align-items: center;           /* Alineamos verticalmente en el centro */
    width: 21%;
    margin-right: 30%;
}

.left-content img{
    
}

.right-content {
    display: flex;                  /* Usamos flexbox para el contenido a la derecha */
    align-items: center; 
    width: 40%
}

.btn-sesion-ini {
    margin-left: auto;             /* Empuja el botón hacia la derecha */
    background-color: #030303;
    color: white;
    border-radius: 5px; 
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
img.imghead {
    width: 20px;
    height: 20px;
}

nav{
    background-color: rgb(53, 53, 53);
    color: rgb(0, 0, 0);
    display: flex;

}

main{
    display: flex;
    justify-content: space-around;
    background-color: rgb(153, 153, 153);
    color: burlywood;
}

.ciudad{
    border-style: solid;
    border-color: burlywood;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.imagen{
    margin-right: 5px;    
}

.title{
    margin-left: 5px;
    color: rgb(0, 0, 0);
    margin-top:20px;
}



body{
    margin: 0;
    background-color: #8a8a8a;
}


/*footer*/
   /* Estilos específicos para el pie de página */


    /* Estilos para la sección de footer */

    .footer {
        background-color: #8a8a8a;
        color: #a0a0a0;
        padding: 20px;
        text-align: center;
    }

    .site-footer {
        background-color: #f5f5f5;
        border-top: 1px solid #ccc;
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        text-align: center;
        background: linear-gradient(to right,#adabab,#ffffff );
    }

    .footer-logo {
        position: relative;
        color: #f8f8f8;
        display: block;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        justify-content: center;
        background-color: #292b2b;
    }


    .footer-links {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
    }

    .footer-links a {
    
        color: #a0a0a0;
        font-size: 16px;
        margin-right: 20px;
        text-decoration: none;
    }
    .footer-links a:hover {
        color: #ffffff;
        font-size: 16px;
        margin-right: 20px;
        text-decoration: none;
    }

    .footer-links a:last-child {
        margin-right: 0;
    }

    .footer-social {
        display: flex;
        justify-content: center;
    }
 




  .social-link {
    display: inline-block;
    font-size: inherit;
    height: 1em; 
    overflow: visible; 
    vertical-align: -.125em;
    padding: 10px;
    transition-duration: 0.5s;

  }
  .social-link-facebook{
    max-width: 20px;
  }
  .social-link-twitter{
    max-width: 20px;
  }
  .social-link-instgram{
    max-width: 20px;
  }

  .social-link:hover {
    color: #b6b6b6;
    transition-duration: 0.2s;
    transform: translateY(-5px);
  }

  .social-link i {
    font-size: 20px;
  }