/* Añadir la fuente Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


:root {
    --color-fondo-header: linear-gradient(90deg, rgba(254,255,0,1) 0%, rgb(255, 255, 255) 100%);
    --color-texto-header: #030303;
    --color-fondo-boton: #292b2b;
    --color-texto-boton: #fff;
    --color-boton-hover: #444;
    --color-boton-active: #333;
    --color-fondo-footer: #8a8a8a;
    --color-texto-footer: #a0a0a0;
    --color-fondo-principal: rgb(255, 255, 255);
    --color-titulo: rgb(0, 0, 0);
    --color-borde-titulo: #9b9a9a98;
    --fuente-principal: 'Roboto', sans-serif;
    --padding-general: 10px;
    --margen-titulo: 20px;
}

/*HEADER*/
header {
    display: flex;                /* Usamos flexbox para el contenedor */       
    justify-content: center; /* Espacio entre los elementos */
    padding: var(--padding-general); /* Espacio interno opcional */
    background: #00000000;   /* Color de fondo opcional */
    width: 100%;
}

.header-container {
    position: relative; /* Necesario para posicionar la línea */
    color: var(--color-texto-header);
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    flex-wrap: nowrap; /* Para que no se muevan hacia abajo */
    border-radius: 10px;
}

.left-content {   
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

.header-logo {
    height: 60px;
    margin-left: 20px;
    display: block;
    white-space: nowrap; /* Para evitar que el título se divida en varias líneas */
    font-size: 2rem; /* Tamaño de fuente ajustado para pantallas pequeñas */
    transition: transform 0.3s ease;  /* Suave animación */
    cursor: pointer;
    
}

.header-logo:hover {
    transform: scale(1.01);  /* Efecto de agrandamiento al pasar el cursor */
}

.right-content {
    display: flex;                  /* Usamos flexbox para el contenido a la derecha */
    align-items: center; 
    width: 40%;
    justify-content: end;
    height: auto;
    margin-right: 35px;
}

.btn-sesion-ini {
    background-color: var(--color-fondo-boton); /* Fondo negro */
    color: var(--color-texto-boton); /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 12px 24px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición */
}

.btn-sesion-ini:hover {
    background-color: var(--color-boton-hover); /* Color de fondo al pasar el ratón */
    transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}

.btn-sesion-ini:active {
    background-color: var(--color-boton-active); /* Color de fondo al hacer clic */
    transform: scale(0.95); /* Efecto de escala al hacer clic */
}

.imghead {
    width: 50px;  /* Tamaño más grande para equilibrar con el título */
    height: 50px;
    vertical-align: middle;  /* Alinea verticalmente la imagen */
    transition: transform 0.3s ease;  /* Suave animación */
    vertical-align: middle;  /* Alinea la imagen verticalmente al centro del texto */
    cursor: pointer;
}

.linea {
    position: absolute; /* Posiciona la línea absolutamente dentro del header */
    bottom: 0; /* Coloca la línea en la parte inferior del header */
    height: 4px; /* Altura de la línea */
    background: linear-gradient(to right, #000000 0%, #00000009 100%); /* Gradiente de izquierda a derecha */
    width: 100%; /* La línea ocupa todo el ancho */
}




nav {
    background-color: rgb(53, 53, 53);
    color: rgb(0, 0, 0);
    display: flex;
}

main {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-fondo-principal);
    color: burlywood;
}

.title {
    white-space: nowrap; /* Para evitar que el título se divida en varias líneas */
    vertical-align: middle;  /* Alinea la imagen verticalmente al centro del texto */
    font-family: 'Montserrat', sans-serif;  /* Nueva fuente */
    font-size: 40px;  /* Aumenta el tamaño del texto */
    font-weight: 700;  /* Más grueso para mayor impacto */
    color: #000;  /* Color negro intenso */
    letter-spacing: 0.5px;  /* Mayor espaciado entre letras */
    cursor: pointer;
    margin-bottom: 5px;
    padding-bottom: 5px; /* Añade un espacio entre el texto y el borde inferior */
    transition: color 1s;
}



body {
    margin: 0;
    background-color: #8d8b1bc4;
    font-family: var(--fuente-principal);
    background: linear-gradient(to right, #929191, #c7c5c5);
}

li {
    list-style: none;
}

.background-img-home {
    background-image: url("/images/PuntoOroCancha.png"); /* Cambia la ruta a tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* La altura será del 100% de la ventana */
    width: 100%;
    display: flex; /* Usa flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative; /* Posiciona el contenedor relativamente */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
}

/* Estilo del texto */
.texto {
    background: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad para el texto */
    padding: 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

/*Ventana modal*/
dialog {
    border: none;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.432);
}
/* Formulario */
.form-login-content{
    justify-content: center;
    align-items: center;

}
#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

label {
    font-size: 25px;
    margin-bottom: 0px;
    color: #333;
}


input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 12px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: auto;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

button:hover {
    background-color: #444;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    text-align: center;
}

.forgot-password:hover {
    text-decoration: underline;
}

/*FOOTER*/
/* Estilos específicos para el pie de página */
.footer {
    background-color: var(--color-fondo-footer);
    color: var(--color-texto-footer);
    padding: 20px;
    text-align: center;
}

.site-footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to right, #adabab, #ffffff);
}

.footer-logo {
    position: relative;
    color: #f8f8f8;
    display: block;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: center;
    background-color: #292b2b;
}

.footer-links {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.footer-links a {
    color: var(--color-texto-footer);
    font-size: 16px;
    margin-right: 20px;
    text-decoration: none;
}

.footer-links a:hover {
    color: #ffffff;
    font-size: 16px;
    margin-right: 20px;
    text-decoration: none;
}

.footer-links a:last-child {
    margin-right: 0;
}

.footer-social {
    display: flex;
    justify-content: center;
}

.social-link {
    display: inline-block;
    font-size: inherit;
    height: 1em; 
    overflow: visible; 
    vertical-align: -.125em;
    padding: 10px;
    transition-duration: 0.5s;
}

.social-link-facebook {
    max-width: 20px;
}
.social-link-twitter {
    max-width: 20px;
}
.social-link-instgram {
    max-width: 20px;
}

.social-link:hover {
    color: #b6b6b6;
    transition-duration: 0.2s;
    transform: translateY(-5px);
}

.social-link i {
    font-size: 20px;
}


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .header-logo {
        height: 40px; /* Reducción del tamaño del logo */
    }
    .title {
        font-size: 1.5rem; /* Ajusta el tamaño del texto en pantallas más pequeñas */
    }
}
